<a href="https://colab.research.google.com/github/strongeryoung/class_SmartDataAnalysis/blob/main/CLASS_2023_WEEK_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# __2023년 2학기 스마트관광데이터 애널리스틱스 2__

## __1. Python Coding과 친해지기 (1)__

- 변수란 ? 데이터를 모은 집합에 이름을 부여하는 일
- 특징
  - 변수명 = data 형식으로 사용
  - 대소문자 구문 유의
  - 숫자로 시작하는 변수명 허용안됨
  - 공백불가
  - '_' 외에 기호 사용 불가
  - 예약어(if, date, del, class 등) 사용 불가
- 변수명 부여에 핵심 : 데이터에 맞는 변수명을 사용

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
colab mount
from google.colab import drive
drive.mount('/content/drive')

# 주석처리 하는법?

SyntaxError: ignored

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
## 예제 코드

# 10 = num
word = "hello world"
print(word)

hello world

In [ ]:
number =13

print(number, number*2, number**2, number/number)

In [ ]:
bbb = 5
print(bbb)

5

In [ ]:
BBB = 3
print(bbb, BBB)

5 3

In [ ]:
## 에러코드 예시

phy = 7

In [ ]:
a5 = 11

In [ ]:
#if = 100

In [ ]:
if_data = 123
print(if_data)

123

- 숫자 변수형

- 특징
  - int(정수), float(소수) type으로 활용됨
  - 사칙연산이 가능
  - data import 이후 Data 형상 파악시에 반드시 숫자 데이터의  type 확인 필요

In [ ]:
## 예제 코드

num1 = 120
num2 = 200.198223810557

print(num1, type(num1))
print(num2, type(num2))

120 <class 'int'>
200.198223810557 <class 'float'>

In [ ]:
print(num1+10)
print(num1-20)
print(num1/20)

130
100
6.0

In [ ]:
num1 = num1 + 10
print(num1)

130

In [ ]:
num1 = 100
num1 += 10
print(num1)

110

In [ ]:
## round 함수의 활용

print(num2)
print(round(num2))

## round 결과 범위 결정
print(round(num2, 1))
print(round(num2, 2))

200.198223810557
200
200.2
200.2

In [ ]:
## 변수의 형태 변경 (float --> integer)

print(int(num2))

200

In [ ]:
# str(num2)

In [ ]:
## 대문자를 사용하여 상수 변수를 지정 : 절대로 바뀌지 않을 변수명 작성

PI=3.14
print(PI)

3.14

1. Python Coding과 친해지기 (2)
- 문자형 데이터 타입

## __1. Python Coding과 친해지기 (2)__

- 문자형 및 시간형 변수

In [ ]:
a = 'My'
b = 'Name'
c = '3'

print(a, type(a))
print(b, type(b))
print(c, type(c))

My <class 'str'>
Name <class 'str'>
3 <class 'str'>

In [ ]:
c

'3'

In [ ]:
print(c * 4)

3333

In [ ]:
print(a * 4)

MyMyMyMy

In [ ]:
# 이건 될까?

# print(c + 4)

## 데이터 타입에 항상 유념하자

In [ ]:
int_c = int(c)
print(int_c + 4)

7

In [ ]:
print(c + a)

3My

In [ ]:
print(a + b)
print(a, b)
print(a + ' ' + b)
print(a*2 + ' ' + b)
print('-' * 70)

MyName
My Name
My Name
MyMy Name
----------------------------------------------------------------------

In [ ]:
## 시간 변수 사용에 필수 라이브러리 datetime

from datetime import datetime, timedelta

In [ ]:
print(datetime.now())
print(datetime.today())
print(datetime.now().date())

2023-09-09 05:48:42.680894
2023-09-09 05:48:42.681079
2023-09-09

In [ ]:
# string formatted time
# 검색 : python time format
print(datetime.now().strftime('%Y년 %m월'))

print(type(datetime.now()))
print(type(datetime.now().strftime('%Y년 %m월')))

2023년 09월
<class 'datetime.datetime'>
<class 'str'>

In [ ]:
dt = '10/02/2022'
print(dt)

10/02/2022

In [ ]:
print(datetime.strptime(dt, '%d/%m/%Y'), type(datetime.strptime(dt, '%d/%m/%Y')))

2022-02-10 00:00:00 <class 'datetime.datetime'>

In [ ]:
print(datetime.strptime(dt, '%d/%m/%Y').strftime('%Y년 %m월 %d일'))

2022년 02월 10일

In [ ]:
# 검색 : pandas date_range
import pandas as pd

start_date = '2018-01-01'
date_list = pd.date_range(start_date, periods = 13, freq = 'MS').astype(str)
print(date_list)


start_date = '2018-01-01'
end_date = '2023--08-01'
date_list = pd.date_range(start_date, end_date, freq = 'M').astype(str)
print(date_list)

Index(['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01',
       '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01',
       '2018-11-01', '2018-12-01', '2019-01-01'],
      dtype='object')
Index(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31',
       '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31',
       '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31',
       '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
       '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31',
       '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30',
       '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30',
       '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
       '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30',
       '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28',
       '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31',
       '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31',
       '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31',
       '2023-06-30', '2023-07-31'],
      dtype='object')

In [ ]:
date_list[1]

'2018-02-01'

In [ ]:
## 시간변수의 연산

# 두 개의 날짜 생성
date1 = datetime(2023, 8, 1)
date2 = datetime(2023, 8, 15)

# 날짜 간의 차이 계산
time_difference = date2 - date1

# 차이를 일(day)로 변환
days_difference = time_difference.days

print(f"날짜 차이: {days_difference}일")

날짜 차이: 14일

In [ ]:
# 시작 날짜 생성
start_date = datetime(2019, 12, 10)

# 125일 뒤의 날짜 계산
delta = timedelta(days=125)
result_date = start_date + delta

print(f"2019년 12월 10일로부터 125일 후의 날짜: {result_date.strftime('%Y년 %m월 %d일')}")

2019년 12월 10일로부터 125일 후의 날짜: 2020년 04월 13일

## __1. Python Coding과 친해지기 (3)__

- 리스트 : 데이터를 집합 시킨 데이터 타입

In [ ]:
# 리스트 선언

list = []

name = ['Hoyoung', 'James', 'John','Michael','David']

age = [19, 15, 20, 30, 25]

In [ ]:
name

['Hoyoung', 'James', 'John', 'Michael', 'David']

In [ ]:
list

[]

- 리스트 인덱싱의 특성
  - 0부터 시작함
  - 리스트 자르기 : 리스트 끝수는 포함 안됨

| 　             | Hoyoung | James | John | Machael | David |
|----------------|:-------:|:-----:|:----:|:-------:|:-----:|
| Index          |    0    |   1   |   2  |    3    |   4   |
| Negative Index |    -5   |   -4  |  -3  |    -2   |   -1  |

In [ ]:
print(name[0])
print(name[3])
print(name[-1])
## 리스트 자르기
print(name[:3])
print(name[-4:-2])

Hoyoung
Michael
David
['Hoyoung', 'James', 'John']
['James', 'John']

In [ ]:
## reverse()
name.reverse()
print(name)

['David', 'Michael', 'John', 'James', 'Hoyoung']

In [ ]:
## append()
name.append('Jin')
print(name)

['David', 'Michael', 'John', 'James', 'Hoyoung', 'Jin']

In [ ]:
## remove()
name.remove('Jin')
print(name)

['David', 'Michael', 'John', 'James', 'Hoyoung']

In [ ]:
# sorted
age.sort()
print(age)
age.sort(reverse=False)
print(age)

[15, 19, 20, 25, 30]
[15, 19, 20, 25, 30]

In [ ]:
# insert, -1 이 안됨
print(age)
age.insert(0, 2)
print(age)

[30, 25, 20, 19, 15]
[2, 30, 25, 20, 19, 15]

In [ ]:
# pop
fruits = ['apple', 'banana', 'orange', 'grape']
removed_fruit = fruits.pop(1)  # 'banana' 요소가 제거되고 반환됨

print(fruits)           # 출력: ['apple', 'orange', 'grape']
print(removed_fruit)    # 출력: 'banana'

fruits2 = ['apples', 'bananas', 'oranges', 'grapes']
removed_fruit2 = fruits2.pop()  # 마지막 요소 'grape'가 제거되고 반환됨

print(fruits2)           # 출력: ['apple', 'banana', 'orange']
print(removed_fruit2)    # 출력: 'grape'

['apple', 'orange', 'grape']
banana
['apples', 'bananas', 'oranges']
grapes

In [ ]:
name_age_list = [name, age]
print(name_age_list)

[['David', 'Michael', 'John', 'James', 'Hoyoung'], [15, 19, 20, 25, 30]]

In [ ]:
name_age_list[0]

['David', 'Michael', 'John', 'James', 'Hoyoung']

In [ ]:
name_age_list[1][3]

25

In [ ]:
name_age_list[1][0]

2

## __1. Python Coding과 친해지기 (4)__

- 튜플 : 리스트와 유사하지만 데이터 형식은 []이 아니라 ()
- 리스트 : 데이터의 추가/수정/삭제 가능
- 튜플은 추가/수정/삭제 불가
- 집합자료형 (set)
  - 튜플과 유사하나 () 형태가 아닌 set()으로 표기
  - 특징 : 순서 없음, 중복 안됨

| 　             |                   list                  |            tuple            |               set               |
|----------------|:---------------------------------------:|:---------------------------:|:-------------------------------:|
|      문법      |       number = [20, 25, 30,   35]       | number = (20, 25, 30,   35) | number =set([20, 25,   30, 35]) |
| 수정/삭제/추가 | 가능      (append, insert, remove, pop) |            불가능           | 가능      (add, update, remove) |
|      순서      |                   있음                  |             있음            |               없음              |
|      중복      |                   가능                  |             가능            |              불가능             |

In [ ]:

list_ages = [20, 25, 30, 30]
tuple_ages = (20, 25, 30, 30)
set_ages = set([20, 25, 30, 30])

print(list_ages, type(list_ages))
print(tuple_ages, type(tuple_ages))
print(set_ages, type(set_ages))

[20, 25, 30, 30] <class 'list'>
(20, 25, 30, 30) <class 'tuple'>
{25, 20, 30} <class 'set'>

In [ ]:
print(list_ages[0])

20

In [ ]:
print(tuple_ages[0])

20

In [ ]:
# # 순서가 없음

# print(set_age[0])

In [ ]:
# 리스트의 여집합 측정하기

list1 =  ['도요타', '혼다', '포드', '김정은', '돼지']
list2 = ['포드','현대차', '기아차', '테슬라', '김정은', '돼지', '김정은', '돼지']

result = set(list1) - set(list2)
print(result)

# 리스트 형태 전환은 chat GPT로 변환한다

{'혼다', '도요타'}

## __1. Python Coding과 친해지기 (5)__

- 딕셔너리 자료형

In [ ]:
student_scores = { 'name' : ['Alice', 'Bob', 'Carol', 'David'] , 'english' : [95, 87, 75, 92] }
print(student_scores )
print(type(student_scores))

{'name': ['Alice', 'Bob', 'Carol', 'David'], 'english': [95, 87, 75, 92]}
<class 'dict'>

In [ ]:
student_scores['math'] = [85, 80, 97, 80]
print(student_scores)

{'name': ['Alice', 'Bob', 'Carol', 'David'], 'english': [95, 87, 75, 92], 'math': [85, 80, 97, 80]}

In [ ]:
del student_scores['math']
print(student_scores)

{'name': ['Alice', 'Bob', 'Carol', 'David'], 'english': [95, 87, 75, 92]}

In [ ]:
for key, value in student_scores.items():
  print(key, value)

name ['Alice', 'Bob', 'Carol', 'David']
english [95, 87, 75, 92]

In [ ]:
value

[95, 87, 75, 92]

In [ ]:
import time

for key, value in student_scores.items():
  print(key, value)
  time.sleep(10)

name ['Alice', 'Bob', 'Carol', 'David']
english [95, 87, 75, 92]

In [ ]:
print('name', "['Susan', 'Jessica', 'John', 'Michael']")
print('age', "[19, 15, 17, 13, 12]")
print()

name ['Susan', 'Jessica', 'John', 'Michael']
age [19, 15, 17, 13, 12]

In [ ]:
contacts = {
    "Alice": {
        "phone": "123-456-7890",
        "email": "alice@example.com"
    },
    "Bob": {
        "phone": "987-654-3210",
        "email": "bob@example.com"
    }
}

In [ ]:
#contacts
empty_dict = {}

for key, value in contacts.items():
    print(key, value)

Alice {'phone': '123-456-7890', 'email': 'alice@example.com'}
Bob {'phone': '987-654-3210', 'email': 'bob@example.com'}

In [ ]:
alice_phone = contacts["Alice"]["phone"]
alice_email = contacts["Alice"]["email"]

bob_phone = contacts["Bob"]["phone"]
bob_email = contacts["Bob"]["email"]

print("Alice's phone:", alice_phone)
print("Alice's email:", alice_email)
print("Bob's phone:", bob_phone)
print("Bob's email:", bob_email)

Alice's phone: 123-456-7890
Alice's email: alice@example.com
Bob's phone: 987-654-3210
Bob's email: bob@example.com

## __2. 명령문 for 와 if__

- for 명령어

In [ ]:
text  = "Programming"

for x in text:
  print(x,  end = '  ')

P  r  o  g  r  a  m  m  i  n  g

In [ ]:
total = 0

for num in [2, -3, 0, 17, 8]:
    total = total + num
print(total)

24

- 내장함수 range, zip,  enumerate

In [ ]:
n = 10

for num in range(n):

  print(num, end = '  ')

0  1  2  3  4  5  6  7  8  9

In [ ]:
start = 5
end = 10

for num in range(start, end):

  print(num, end = '  ')

5  6  7  8  9

In [ ]:
start = 5
end = 20
jump = 2

for num in range(start, end, jump):

  print(num, end = '  ')

5  7  9  11  13  15  17  19

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 75]

for name, score in zip(names, scores):
    print(f'{name}의 점수는 {score}입니다.')
    list.append((name,score))

Alice의 점수는 85입니다.
Bob의 점수는 90입니다.
Charlie의 점수는 75입니다.

In [ ]:
my_list = ['apple', 'banana', 'cherry']

for index, item in enumerate(my_list):
    print(f'Index {index}: {item}')

Index 0: apple
Index 1: banana
Index 2: cherry

In [ ]:
# 간단한 복리 이자문제

principal = 1000
rate = 0.12
amount = 0

for year in range(1, 11):

    amount = principal * (1+rate)**year
    amount = round(amount, 2)
    print(f'{year}년_{amount}')

1년_1120.0
2년_1254.4
3년_1404.93
4년_1573.52
5년_1762.34
6년_1973.82
7년_2210.68
8년_2475.96
9년_2773.08
10년_3105.85

- 이중 for 문 구조 : for 와 range 를 사용한 구구단 만들기

In [ ]:
for i in range (2,10):

    for j in range(1,10):

       print(i*j, end = ' ')

    print(' ')
    # 매개변수 ' '를 넣어준 이유는 해당 결과값을 출력할 때 다음 줄로 넘어가지 않고 그 줄로 계속 출력하기 위함
    # 그 다음에 이어지는 print(' ')는 2단, 3단 등을 구분하기 위해서 두 번째 for 문이 끝나면 결과값을 다음 줄 부터 출력 시키는 문장

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

- 리스트 안에 for문을 포함하는 list comprehension 를 사용하면 직관적인 코딩 가능

In [ ]:
a = [1, 2, 3, 4, 5]

result = [num*4 for num in a ]

print(result)

[4, 8, 12, 16, 20]

In [ ]:
b = [1, 2, 3, 4, 5, 6]

result = [num *3 for num in b if num % 2 == 0]

print(result)

[6, 12, 18]

- if 문의 기본적인 구조

<img src = 'https://drive.google.com/uc?id=119nd-7d6zASmY8PS_4LIWcpWdcHQUJh_' height = 500 width = 600>
</center>

  -  출처 : jump to 파이썬 (박응용 저)

if 조건문:
    수행할 명령문1
    수행햘 명령문2

else 조건문:
    수행할 명령문1
    수행할 명령문2


- if 조건문에서 '조건문'이란 주어진 조건의 참과 거짓을 판단하는 명령문장

- 비교 연산자

<table style="width:50%; margin:auto;">
  <tr>
    <th style="text-align:center;">비교연산자</th>
    <th style="text-align:center;">내용</th>
  </tr>
  <tr>
    <td style="text-align:center;">a == b</td>
    <td style="text-align:center;">a와 b가 같다</td>
  </tr>
  <tr>
    <td style="text-align:center;">a != b</td>
    <td style="text-align:center;">a와 b가 다르다</td>
  </tr>
  <tr>
    <td style="text-align:center;">a > b</td>
    <td style="text-align:center;">a가 b 보다 크다</td>
  </tr>
  <tr>
    <td style="text-align:center;">a < b</td>
    <td style="text-align:center;">a가 b 보다 작다</td>
  </tr>
  <tr>
    <td style="text-align:center;">a >= b</td>
    <td style="text-align:center;">a가 b 보다 크거나 같다</td>
  </tr>
  <tr>
    <td style="text-align:center;">a <= b</td>
    <td style="text-align:center;">a가 b 보다 작거나 같다</td>
  </tr>
</table>


- 수학 연산자
<table style=style="width:50%; margin:auto;">
  <tr>
    <th style="text-align:center;">수학연산자</th>
    <th style="text-align:center;">내용</th>
  </tr>
  <tr>
    <td style="text-align:center;"> = </td>
    <td style="text-align:center;"> 할당 </td>
  </tr>
  <tr>
    <td style="text-align:center;"> + </td>
    <td style="text-align:center;"> 더하기 </td>
  </tr>
  <tr>
    <td style="text-align:center;"> - </td>
    <td style="text-align:center;"> 빼기 </td>
  </tr>
  <tr>
    <td style="text-align:center;"> += </td>
    <td style="text-align:center;"> 증가 </td>
  </tr>
  <tr>
    <td style="text-align:center;"> -= </td>
    <td style="text-align:center;"> 감소 </td>
  </tr>
  <tr>
    <td style="text-align:center;"> * </td>
    <td style="text-align:center;"> 곱하기 </td>
  </tr>
  <tr>
    <td style="text-align:center;"> / </td>
    <td style="text-align:center;"> 나누기 </td>
  </tr>
  <tr>
    <td style="text-align:center;"> % </td>
    <td style="text-align:center;"> 나머지 </td>
  </tr>
  <tr>
    <td style="text-align:center;"> ** </td>
    <td style="text-align:center;"> 지수승 </td>
  </tr>
</table>

In [ ]:
# 사용자로부터 숫자를 입력받습니다.
num = int(input("숫자를 입력하세요: "))

# if 문을 사용하여 조건을 확인합니다.
if num > 0:
    print("입력한 숫자는 양수입니다.")
elif num == 0:
    print("입력한 숫자는 0입니다.")
else:
    print("입력한 숫자는 음수입니다.")

숫자를 입력하세요: 50
입력한 숫자는 양수입니다.

In [ ]:
# 단어 리스트
words = ['apple', 'banana', 'cherry', 'grape', 'orange', 'kiwi', 'melon', 'strawberry', 'peach', 'plum']

# 단어가 리스트에 있는지 확인
if 'banana' in words:
    print("단어 'banana'이 리스트에 있습니다.")
else:
    print("단어 'banana'이 리스트에 없습니다.")

# 단어가 리스트에 없는지 확인
if 'pineapple' not in words:
    print("단어 'pineapple'은 리스트에 없습니다.")
else:
    print("단어 'pineapple'은 리스트에 있습니다.")

단어 'banana'이 리스트에 있습니다.
단어 'pineapple'은 리스트에 없습니다.

In [ ]:
# if와 for 문을 이용해서 특정 요소 추출하기 (중요)

fruits = ['apple', 'banana', 'cherry', 'grape', 'orange', 'kiwi', 'melon', 'strawberry', 'peach', 'plum']

target_list = []
notarget_list = []

for fruit in fruits:

    if 'a' in fruit:
        target_list.append(fruit)
    else:
        notarget_list.append(fruit)

In [ ]:
# list comprehension

test_list =  [fruit for fruit in fruits if 'a' in fruit]

In [ ]:
# 홀수 짝수 구문
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 짝수를 담을 빈 리스트 생성
even_numbers = []

# for 루프를 통해 데이터 탐색
for num in data:
    if num % 2 == 0:  # 만약 숫자가 2로 나누어 떨어지면
        even_numbers.append(num)  # 짝수 리스트에 추가

# 결과 출력
print("짝수:", even_numbers)

짝수: [2, 4, 6, 8, 10]

In [ ]:
## 1 부터 10까지 합 구하기

sum_num = 0

for i in range(1,11):

  sum_num = sum_num + i

print(sum_num)

55

In [ ]:
list1 = [90, 85, 70, 55]
list2 = ['a', 'b', 'c', 'd']

result_list = []

for element1, element2 in zip(list1, list2):
    result_list.append((element1, element2))

df = pd.DataFrame(result_list, columns=['학점', '성명'])

## Q1) for 문을 사용하여 A학급 평균 점수를 구해 보자

[70, 60, 55, 76, 95, 90, 80, 80, 88, 100, 75, 89]

## Q2) list 중에서 홀수에만 3을 곱하여 저장하는 코드를 작성해 보자

numbers = [1, 2, 3, 4, 5]

## Q3) 위의 코드를 list Comprehension 를 사용하여 표현해 보자

## Q4) 최근 한달간 삼성전자 주가 리스트 (예시) 를 이용하여 주가 6만원 이상인 가격만을 추출해 보자

samsung_stock_prices = [59000, 61000, 59000, 62000, 63000, 59000, 60000, 61000, 58000, 62000]